@font-face {
font-family: 'Product';
font-style: normal;
font-weight: normal;
src: local('Product Sans Regular'), url('ProductSans-Regular.woff') format('woff');
}
body {
  background-color: black;
  overflow-y: scroll;
  margin-bottom: 100px;
  overflow-x: hidden;
  font-family: 'Product', sans-serif;
}
button{
  font-family: 'Product', sans-serif
}
img {
  border-radius: 25px;
  height: 100px;
  width: 100px;
}
.vertical-container {
  height: 50px;
  display: -webkit-flex;
  display:         flex;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
  font-family: 'Product', sans-serif;
}
h1.vertical-container {
  font-size: 275%;
  color: white;
  border-left: 100px;
  border-right: 100px;
  border-top: 100px;
}
span{
  border-width: thick;
  left: 15px;
  border-left: 100px;
  border-right: 100px;
  border-top: 100px;
}
span:hover{
  background-color: #424242;
  border-radius: 25px;
  border-left: 100px;
  border-right: 100px;
  border-top: 100px;
}
.spacer{
  background-color: #363636;
  border-radius: 35px;
  text-align: left;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 10px;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #232323;
  color: white;
  font-size: 150%;
}
button{
  background-color: #004ecc;
  font-size: 25px;
  border-radius: 15px;
  border-width: 5px;
  border-color: #004ecc;
  color: white;
  align: right;
}
a {
  color:inherit;
}
}
.first {
  float: left;
}
.second{
  float: center;
}
.clear {
  clear: both;
}
