@import "colors.css";
@import "fonts.css";
@import "navbar.css";
body {
  font-family: "Regular Rounder", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-left: 10px;
  margin-right: 10px;
  -webkit-font-smoothing: antialised;
}
.appinfo img {
  border-radius: 10px;
  margin-bottom: 10px;
  margin-right: 20px;
}
.top {
  display: table;
  width: 95%;
  height: 4px;
  text-align: left;
  font-size: 20px;
}
.top h3 {
  text-indent: 40px;
}
.appfirst {
  margin-left: 10px;
  float: left;
}
.appinfo img {
  margin-left: 10px;
  float: left;
}
.appinfo p {
  font-size: 20px;
  margin-top: -19px;
  margin-bottom: 0;
  color:gray; 
}
.appinfo h1 {
  margin-top: 30px;
}
.appinfo button {
  margin-top: 10px;
  border-radius: 20px;
  border: 0;
  height: 28px;
  width: 90px;
  background-color: rgb(0, 68, 255);
  color: white;
  font-family: "Regular Rounder";
  font-weight: bold;
  
}
.creator {
  font-size: 20px;
  margin-top: -19px;
  color:gray;
}
.basic {
  font-size: 20px;
  margin-top: -17px;
}
.install button {
  font-family: "Regular Rounder", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 100%;
  height: 36px;
  border-radius: 5px;
  border: 0;
  font-size: 16px;
  margin-bottom: 10px;
  color: white;
}

.reset {
  text-indent: 20px;
}
a {
  color: inherit;
  text-decoration: none;
  box-shadow: none;
  box-decoration-break: none;
}
a:link {
  color: inherit;
}
a:visited {
  color: inherit;
}
a:hover {
  background-color: inherit;
  color: inherit;
}
a:active {
  background-color: inherit;
  color: inherit;
}
.topnav {
  overflow: hidden;
  background-color: #333;
  position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigati on menu links */
.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
.topnav .icon {
  background: #333;
  position: absolute;
  right: 0;
  top: 0;
  font-size: 30px;
}
.topnav {
  border-radius: 25px;
}
