:root {
  /* Light */
  --scris: black;
  --fundal: white;
  --despartitor: #f5f5f5;
  --navigator: #de1b1b;
  --textnavigator: #de1b1b;
  --buton: #de1b1b;
  --textbuton: white;
  --credite: #b3b3b3;
  --rosulybra: #de1b1b;
  /* Dark */
  --scrisdark: white;
  --fundaldark: black;
  --despartitordark: #2e2e2e;
  --navigatordark: #de1b1b;
  --textnavigatordark: #de1b1b;
  --butondark: #de1b1b;
  --textbutondark: black;
  --creditedark: #b3b3b3;
  --rosulybradark: #de1b1b;
  /* End */
}
@media (prefers-color-scheme: dark) {
  body {
    color: var(--scrisdark);
    background-color: var(--fundaldark);
  }
  nav {
    color: var(--scrisdark);
    background-color: var(--fundaldark);
  }
  .navigatore a {
    color: var(--scrisdark);
  }
}
@media (prefers-color-scheme: light) {
  body {
    color: var(--scris);
    background-color: var(--fundal);
  }

  nav {
    color: var(--scris);
    background-color: var(--fundal);
  }
  .navigatore a {
    color: var(--scris);
  }
}
@media (prefers-color-scheme: no-preference) {
  body {
    color: var(--scris);
    background-color: var(--fundal);
  }

  nav {
    color: var(--scris);
    background-color: var(--fundal);
  }
  .navigatore a {
    color: var(--scris);
  }
}
