@media (prefers-color-scheme: dark) {
  body {
    color: rgb(255, 255, 255);
    background-color: black;
  }
  nav {
    color: rgb(255, 255, 255);
    background-color: black;
  }
  .navigatore a {
    color: rgb(235, 235, 235);
  }
  .navigatore button {
    background-color: #5a5a5a;
    color: white;
  }
  button {
    background-color: rgb(185, 0, 0);
    color: rgb(0, 0, 0);
  }
}
@media (prefers-color-scheme: light) {
  body {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
  }

  nav {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
  }
  .navigatore a {
    color: rgb(0, 0, 0);
  }
  .navigatore button {
    background-color: rgb(231, 231, 231);
    color: black;
  }
  button {
    background-color: rgb(185, 0, 0);
    color: rgb(0, 0, 0);
  }
}
