@font-face {
  font-family: 'Regular Display';
  src:  url('/fonts/SF-Pro-Display-Regular.otf') format('truetype');
}
@font-face {
  font-family: 'Regular Rounder';
  src:  url('/fonts/SF-Pro-Rounded-Regular.otf') format('truetype');
}
@font-face {
  font-family: 'Regular Text';
  src:  url('/fonts/SF-Pro-Text-Regular.otf') format('truetype');
}
@font-face {
  font-family: 'Regular';
  src:  url('/fonts/Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Regular';
  src:  url('/fonts/Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Regular';
  src:  url('/fonts/Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Regular';
  src:  url('/fonts/Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Regular';
  src:  url('/fonts/Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Regular';
  src:  url('/fonts/Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Regular';
  src:  url('/fonts/Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Regular';
  src:  url('/fonts/Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Regular';
  src:  url('/fonts/Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Regular';
  src:  url('/fonts/Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Regular';
  src:  url('/fonts/Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Regular';
  src:  url('/fonts/Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Regular';
  src:  url('/fonts/Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Regular';
  src:  url('/fonts/Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Regular';
  src:  url('/fonts/Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Regular';
  src:  url('/fonts/Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Regular';
  src:  url('/fonts/Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Regular';
  src:  url('/fonts/Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Regular';
  src:  url('/fonts/Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Regular';
  src:  url('/fonts/Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Regular';
  src:  url('/fonts/Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Regular';
  src:  url('/fonts/Regular.ttf') format('truetype');
}