:root {
  --scris: black;
  --fundal: white;
  --fundallogo: white;
  --textlogo: #999999;
  --despartitor: #ebebeb;
  --navigator: #de1b1b;
  --textnavigator: #de1b1b;
  --buton: #de1b1b;
  --textbuton: white;
  --credite: #b3b3b3;
  --rosulybra: #de1b1b;
}
header{
  color: var(--scris);
  background-color: var(--fundal);
}
body{
  color: var(--scris);
  background-color: var(--fundal);
}
.top{
  background-color: var(--fundallogo);
  color: var(--textlogo);
}
hr{
  background-color: var(--despartitor);
}
.elementofbar{
  border-color: var(--navigator);
  color: var(--textnavigator);
}
button {
  background-color: var(--buton);
  color: var(--textbuton);
}
.p {
  color: var(--credite);
}
.negru {
  color: var(--scris);
}
.install button{
  background-color: var(--buton);
  color: var(--textbuton);
}
.verde{
  color: var(--rosulybra);
}
