* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: #000000;
  font-family: "Regular", sans-serif;
  color: white;
  overflow: scroll;
}
body.dark {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: -webkit-linear-gradient(
    to right,
    #5f2c82,
    #49a09d
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #5f2c82, #49a09d);
  font-family: "Regular", sans-serif;
  color: white;
  overflow: scroll;
}
.location,
.temperature {
  height: 90vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.temperature {
  flex-direction: column;
  width: 50%;
}
.degree-section {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.degree-section span {
  margin: 10px;
  font-size: 40px;
}
.degree-section h2 {
  font-size: 40px;
}

canvas {
  margin-left: 10px;
}
.topnav {
  overflow: hidden;
  background-color: #333;
  position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigati on menu links */
.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
.topnav .icon {
  background: #333;
  position: absolute;
  right: 0;
  top: 0;
  font-size: 30px;
}
.topnav {
  border-radius: 25px;
}
