* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: -webkit-linear-gradient(
    to right,
    #5f2c82,
    #49a09d
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #5f2c82, #49a09d);
  font-family: "Regular", sans-serif;
  color: white;
}
body.dark {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: #000000;
  font-family: "Regular", sans-serif;
  color: white;
}
.location,
.temperature {
  margin-bottom: 10px;
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.temperature {
  flex-direction: column;
  width: 50%;
}
.degree-section {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.degree-section span {
  text-align: center;
  font-size: 40px;
}
.degree-section h2 {
  font-size: 40px;
}

canvas {
  margin-left: 10px;
}
.temp-max,
.temp-min {
  font-size: 16px;
}
.temp-min {
  margin-top: 20px;
}
.temp-max {
  margin-top: 10px;
}
.description {
  margin-top: 20px;
}
